body {
  padding-top: 50px;
  font-size: 16px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}

.fa {
  padding: 5px;
  font-size: 26px;
}
