<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Colin Slater</title>

    <link rel="stylesheet" href="custom.css">
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <!-- <li><a href="projects.html">Recent Projects</a></li> -->
            <!-- <li><a href="lsst.html">LSST</a></li> -->
            <li class="active"><a href="#">Publications</a></li> 
            <li><a href="cv.pdf">CV</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" style="padding-top: 40px">
      <div class="row">
        <div class="col-md-12">
            <H1>First author publications</H1>
            ${first_author}
            <H1>n-th author publications</H1>
            ${nth_author}

        </div>
      </div>
    </div>

  </body>
</html>
